@page
@model Spotify_komandinis.CallbackModel
@*Paslepta forma, skirta patalpinti access key is javascript variable ir ji paimti Callback.cshtml.cs
    TODO: paslepti ta submit mygtuka*@
    <form method="post" id="theForm" name="theForm" >
        <input runat="server" type='hidden' id='token' name='token' value="0" />
        <input type="submit" >
    </form>
@section Scripts{
    <script>

        //Sitas script paima is adreso access token ir ji paduoda hidden elementui
        $(document).ready(function () {
            //document.getElementById("theForm").hidden(true);
            /* 13 because that bypasses 'access_token' string */
            setTimeout(function () {
                var hash = window.location.hash.substring(1);
                var accessString = hash.indexOf("&");
                var access_token = hash.substring(13, accessString);
                $('#token').val(access_token);
                document.getElementById("theForm").submit(); 
                           }, 1000);

            //setTimeout(function () {
            //    window.location.href = "/Overview";
            //}, 1100);
        })

    </script>
}
