@page
@model Spotify_komandinis.CallbackModel
    <form method="post" id="theForm" name="theForm" >
        <input runat="server" type='hidden' id='token' name='token' value="0" />
        <input type="submit" >
    </form>
@section Scripts{
    <script>

        $(document).ready(function () {
            //document.getElementById("theForm").hidden(true);
            /* 13 because that bypasses 'access_token' string */
            setTimeout(function () {
                var hash = window.location.hash.substring(1);
                var accessString = hash.indexOf("&");
                var access_token = hash.substring(13, accessString);
                $('#token').val(access_token);
                console.log("Access Token: " + access_token);
                var url = new URL(window.location.href);
                var xhr = new XMLHttpRequest();
                document.getElementById("theForm").submit();
                //xhr.open("POST", "https://localhost:44382/Callback", true);
                //xhr.setRequestHeader('Content-Type', 'application/json');
                //xhr.send(JSON.stringify({
                //    value: access_token
                           }, 1000);

            //setTimeout(function () {
            //    window.location.href = "/Overview";
            //}, 4000);
        })

    </script>
}
