@page
@model Spotify_komandinis.CallbackModel
@{
    @*var url = (string)TempData["access_token"];
    <div class="text-center">
        <p>Prisijungimas sekmingas! @url</p>

    </div>*@

    <script>

       

    </script>
}
