@page
@model Spotify_komandinis.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <button id="login-button" class="logInButton">Log in with Spotify</button>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#login-button").click(function () {
                var parameters = "@Model.parameters";
                parameters = parameters.replace(/&amp;/g, "&");
                window.location.href = "https://accounts.spotify.com/authorize/".concat(parameters);
            });
        });
        
    </script>
    

 }