@page
@model Spotify_komandinis.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <button id="login-button" class="logInButton">Log in with Spotify</button>
</div>

<div class="text-center">
    <button id="logout-button" class="logOutButton">Log out with Spotify</button>
</div>

@section scripts{
    <script>
        //login button kuris redirectina i spotify ir grazina koda kartu su URL i /Callback
        $(document).ready(function () {
            $("#login-button").click(function () {
                var parameters = "@Model.parameters";
                parameters = parameters.replace(/&amp;/g, "&");
                window.location.href = "https://accounts.spotify.com/authorize/".concat(parameters);
            });
        });

    </script>

    <script>
        //login button kuris redirectina i spotify ir grazina koda kartu su URL i /Callback
        $(document).ready(function () {
            $("#logout-button").click(function () {
                var parameters = "@Model.parameters";
                parameters = parameters.replace(/&amp;/g, "&");
                window.location.href = "https://accounts.spotify.com/en/logout".concat(parameters);
            });
        });

    </script>


    }