@page
@model Spotify_komandinis.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <button id="login-button" class="btn btn-success btn lg" style="font-family:Arial, Helvetica, sans-serif">Log in with Spotify</button>
</div>



@section scripts{
    <script>
        //login button kuris redirectina i spotify ir grazina koda kartu su URL i /Callback
        $(document).ready(function () {
            $("#login-button").click(function () {
                var parameters = "@Model.parameters";
                parameters = parameters.replace(/&amp;/g, "&");
                window.location.href = "https://accounts.spotify.com/authorize/".concat(parameters);
            });
        });

    </script>

    


    }